<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  </head>
  <body>
    <h1>AWS test</h1><br>
    <button id="getbutton">Get Info</button><br>
    <script type="text/javascript">
      function print(data, starttag, endtag){
        var button = document.getElementById("button");
        output = starttag + data + endtag
        button.insertAdjacentHTML('afterend', output);
        button.insertAdjacentHTML("afterend", "<h3>Result</h3>")
      }
			$("getbutton").click(function(){
				var params = {
					"greeting": $("#greeting").val(),
				};
				$.ajax({
					url: "ec2",
					type: "GET",
					scriptCharset: "utf-8",
          dataType: "application/json",
					success: function(data){
						data = JSON.stringify(data, null, 2);
						data = data.replace(/\\/g, "");
						print(data, "<pre>", "</pre>");
					},
					error: function(data){
						print(data, "<p>", "</p>");
					}
				});
			});
    </script>
    <script src="{% static "js/jquery-3.5.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
