<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script rel="javascript" src="{% static "js/jquery-3.5.1.min.js" %}"></script>
  </head>
  <body>
    <h1>AWS test</h1><br>
    <button id="getbutton">Get Info</button><br>
    <script type="text/javascript">
      function print(data, result, url, starttag, endtag){
        let button = document.getElementById("getbutton");
        let now = new Date().toString();
        button.insertAdjacentHTML('afterend', "<br>" + starttag + data + endtag);
        button.insertAdjacentHTML("afterend", "<b>Url: " + url + "</b><br>");
        button.insertAdjacentHTML("afterend", "<b>Time: " + now + "</b><br>");
        button.insertAdjacentHTML("afterend", "<b>Result: " + result + "</b><br>");
        button.insertAdjacentHTML("afterend", "<br>" + "-".repeat(140) + "<br>");
      }
      $("#getbutton").click(function(){
        $.ajax({
          url: "ec2",
          type: "GET",
          scriptCharset: "utf-8",
          success: function(data){
            data = JSON.stringify(data, null, 2);
            print(data, "sucess", "ec2", "<pre>", "</pre>");
          },
          error: function(data){
            data = JSON.stringify(data, null, 2);
            print(data, "error", "ec2", "<p>", "</p>");
          }
        });
        $.ajax({
          url: "container",
          type: "GET",
          scriptCharset: "utf-8",
          success: function(data){
            data = JSON.stringify(data, null, 2);
            print(data, "sucess", "container", "<pre>", "</pre>");
          },
          error: function(data){
            data = JSON.stringify(data, null, 2);
            print(data, "error", "container", "<p>", "</p>");
          }
        });
      });
    </script>
  </body>
</html>
